/* 01. SETTINGS */
/* 02. TOOLS */
* {
  box-sizing: border-box; }

/** 
*	PINK GRID
*	Sass Width Percentage Generator
*
*	$align:			Vertical-align property 											Defaults to Top
* 	$totalcols: 	Number of columns in your grid ( ex: 12 ) 							Defaults to $defaultcols
*	$colspan: 		Number of columns your item spans ( ex: 3 / 12 ) 					Defaults to $defaultcols (100% width)
*	$padside:		Percentage padding left/right of each item.							Defaults to $defaultpad
*	$padtop:		Percentage padding above/below around each item. 					Defaults to 0
*/
/**
*	PINK ROW
*	Sass Row Item Generator
*	Built in conjunction with Pink Grid
*
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*/
/**
*	PINK GRID ROW
*	Generate evenly sized and evenly spaced row items
*	Like Magic Grid but without the automatic media queries
*
*	$align:			Vertical-align property 								Defaults to Top
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*	$padside:		Percentage padding left/right of each item.				Defaults to $defaultpad
*	$padtop:		Percentage padding above/below around each item. 		Defaults to 0
*/
/**
* 	PINK MAGIC ROW
* 	Complete responsive grid solution for equally sized items per row. 
*	Includes a space to define your media query breakpoints (based on min-width)
*
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$padside:		Padding to the left/right of each item 					Defaults to $magicside
*	$padtop:		Padding above/below around each item. 					Defaults to $magictop
* 	$align 			Vertical-align property 								Defaults to Top
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*/
/* 06. COMPONENTS */
/* Some General Resets */
*, *:before, *:after {
  box-sizing: border-box; }

/* General Panel Rules */
.mtm-per-row-2 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) {
    .mtm-per-row-2 {
      width: 52%;
      padding-right: 4%; }
      .mtm-per-row-2:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48%; } }

.mtm-per-row-3 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-3 {
      width: 52%;
      padding-right: 4%; }
      .mtm-per-row-3:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48%; } }
  @media only screen and (min-width: 45em) {
    .mtm-per-row-3 {
      width: 34.6666666667%;
      padding-right: 4%; }
      .mtm-per-row-3:nth-of-type(3n+3) {
        padding-right: 0;
        width: 30.6666666667%; } }

.mtm-per-row-4 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 61em) {
    .mtm-per-row-4 {
      width: 52%;
      padding-right: 4%; }
      .mtm-per-row-4:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-4 {
      width: 26%;
      padding-right: 4%; }
      .mtm-per-row-4:nth-of-type(4n+4) {
        padding-right: 0;
        width: 22%; } }

.mtm-per-row-5 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 61em) {
    .mtm-per-row-5 {
      width: 34.6666666667%;
      padding-right: 4%; }
      .mtm-per-row-5:nth-of-type(3n+3) {
        padding-right: 0;
        width: 30.6666666667%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-5 {
      width: 20.8%;
      padding-right: 4%; }
      .mtm-per-row-5:nth-of-type(5n+5) {
        padding-right: 0;
        width: 16.8%; } }

.mtm-per-row-6 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 61em) {
    .mtm-per-row-6 {
      width: 34.6666666667%;
      padding-right: 4%; }
      .mtm-per-row-6:nth-of-type(3n+3) {
        padding-right: 0;
        width: 30.6666666667%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-6 {
      width: 17.3333333333%;
      padding-right: 4%; }
      .mtm-per-row-6:nth-of-type(6n+6) {
        padding-right: 0;
        width: 13.3333333333%; } }

.mtm-per-row-7 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-7 {
      width: 51.5%;
      padding-right: 3%; }
      .mtm-per-row-7:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48.5%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-7 {
      width: 25.75%;
      padding-right: 3%; }
      .mtm-per-row-7:nth-of-type(4n+4) {
        padding-right: 0;
        width: 22.75%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-7 {
      width: 14.7142857143%;
      padding-right: 3%; }
      .mtm-per-row-7:nth-of-type(7n+7) {
        padding-right: 0;
        width: 11.7142857143%; } }

.mtm-per-row-8 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-8 {
      width: 51.5%;
      padding-right: 3%; }
      .mtm-per-row-8:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48.5%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-8 {
      width: 25.75%;
      padding-right: 3%; }
      .mtm-per-row-8:nth-of-type(4n+4) {
        padding-right: 0;
        width: 22.75%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-8 {
      width: 12.875%;
      padding-right: 3%; }
      .mtm-per-row-8:nth-of-type(8n+8) {
        padding-right: 0;
        width: 9.875%; } }

.mtm-per-row-9 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-9 {
      width: 34.3333333333%;
      padding-right: 3%; }
      .mtm-per-row-9:nth-of-type(3n+3) {
        padding-right: 0;
        width: 31.3333333333%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-9 {
      width: 20.6%;
      padding-right: 3%; }
      .mtm-per-row-9:nth-of-type(5n+5) {
        padding-right: 0;
        width: 17.6%; } }
  @media only screen and (min-width: 61em) {
    .mtm-per-row-9 {
      width: 11.4444444444%;
      padding-right: 3%; }
      .mtm-per-row-9:nth-of-type(9n+9) {
        padding-right: 0;
        width: 8.4444444444%; } }

.mtm-per-row-10 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-10 {
      width: 51.5%;
      padding-right: 3%; }
      .mtm-per-row-10:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48.5%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-10 {
      width: 34.3333333333%;
      padding-right: 3%; }
      .mtm-per-row-10:nth-of-type(3n+3) {
        padding-right: 0;
        width: 31.3333333333%; } }
  @media only screen and (min-width: 61em) and (max-width: 75em) {
    .mtm-per-row-10 {
      width: 20.6%;
      padding-right: 3%; }
      .mtm-per-row-10:nth-of-type(5n+5) {
        padding-right: 0;
        width: 17.6%; } }
  @media only screen and (min-width: 75em) {
    .mtm-per-row-10 {
      width: 10.3%;
      padding-right: 3%; }
      .mtm-per-row-10:nth-of-type(10n+10) {
        padding-right: 0;
        width: 7.3%; } }

.mtm-per-row-11 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-11 {
      width: 51.5%;
      padding-right: 3%; }
      .mtm-per-row-11:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48.5%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-11 {
      width: 34.3333333333%;
      padding-right: 3%; }
      .mtm-per-row-11:nth-of-type(3n+3) {
        padding-right: 0;
        width: 31.3333333333%; } }
  @media only screen and (min-width: 61em) and (max-width: 75em) {
    .mtm-per-row-11 {
      width: 17.1666666667%;
      padding-right: 3%; }
      .mtm-per-row-11:nth-of-type(6n+6) {
        padding-right: 0;
        width: 14.1666666667%; } }
  @media only screen and (min-width: 75em) {
    .mtm-per-row-11 {
      width: 9.3636363636%;
      padding-right: 3%; }
      .mtm-per-row-11:nth-of-type(11n+11) {
        padding-right: 0;
        width: 6.3636363636%; } }

.mtm-per-row-12 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 30em) and (max-width: 45em) {
    .mtm-per-row-12 {
      width: 51.5%;
      padding-right: 3%; }
      .mtm-per-row-12:nth-of-type(2n+2) {
        padding-right: 0;
        width: 48.5%; } }
  @media only screen and (min-width: 45em) and (max-width: 61em) {
    .mtm-per-row-12 {
      width: 34.3333333333%;
      padding-right: 3%; }
      .mtm-per-row-12:nth-of-type(3n+3) {
        padding-right: 0;
        width: 31.3333333333%; } }
  @media only screen and (min-width: 61em) and (max-width: 75em) {
    .mtm-per-row-12 {
      width: 17.1666666667%;
      padding-right: 3%; }
      .mtm-per-row-12:nth-of-type(6n+6) {
        padding-right: 0;
        width: 14.1666666667%; } }
  @media only screen and (min-width: 75em) {
    .mtm-per-row-12 {
      width: 8.5833333333%;
      padding-right: 3%; }
      .mtm-per-row-12:nth-of-type(12n+12) {
        padding-right: 0;
        width: 5.5833333333%; } }

.content--inner {
  margin: 0 auto; }

.alignfull .content--inner, .alignwide .content--inner {
  padding-left: 2rem;
  padding-right: 2rem; }

.mtm-component {
  border-bottom: 1px solid #eee;
  margin-top: -2rem;
  padding-top: 2rem;
  position: relative; }
  .mtm-component .content--page {
    padding: 1rem; }
  .mtm-component img {
    max-width: 100%;
    height: auto; }

.mtm-component--main-full {
  overflow: auto;
  position: relative; }

.mtm-component--home {
  background-size: cover;
  border-top: 1px solid #eee;
  margin-top: 0;
  padding-top: 0;
  text-align: center; }

.mtm-component--term-list {
  padding: 1em 0;
  margin: 0; }
  .mtm-component--term-list li {
    list-style: none;
    display: inline-block; }
  .mtm-component--term-list a {
    padding-right: .5em; }

/* Module Rules */
.mtm-module {
  padding-bottom: 1em;
  padding-top: 1em;
  overflow: auto; }

.mtm-module--hero-title {
  margin: .75em auto; }

.mtm-module--hero-subtitle {
  margin-bottom: .75em; }

.mtm-hero-image, .wp-block-cover {
  padding: 2em;
  background-size: cover;
  background-position: center center;
  text-align: center; }

.mtm-hero-image-title, .mtm-hero-image-subtitle p, .mtm-module--slider-title, .mtm-module--slider-subtitle p {
  color: #fff; }

.mtm-module--slider-slide {
  background-size: cover;
  background-position: center center;
  text-align: center; }

.mtm-module--slider-link {
  display: block;
  padding: 2em; }

.mtm-logo-grid {
  vertical-align: middle;
  text-align: center; }

.mtm_module_call_to_action {
  padding: 1em;
  background: #f2f2f2; }

.mtm-module--content-secondary-image {
  padding: 1em; }
  .mtm-module--content-secondary-image .mtm-module--content-secondary-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1em; }

.mtm-module--gallery {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .mtm-module--gallery > p, .mtm-module--gallery a > p {
    display: none; }
  @supports (display: grid) {
    .mtm-module--gallery {
      display: grid;
      grid-auto-rows: minmax(20vh, 250px);
      grid-gap: 0.2em;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); } }
  .mtm-module--gallery a {
    flex: 1 0 auto;
    min-height: 250px;
    min-width: 250px;
    margin: 0.1em; }
    @supports (display: grid) {
      .mtm-module--gallery a {
        margin: 0; } }

.mtm-module--gallery-image {
  height: 100%;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .mtm-module--gallery-image figure {
    background-size: cover;
    background-position: center center;
    height: 100%;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%; }
    .mtm-module--gallery-image figure:hover, .mtm-module--gallery-image figure:focus {
      transform: scale(1.2); }

.mtm-module--gallery-caption {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  margin: 0;
  padding: .25em;
  position: absolute;
  width: 100%; }

/* Home Rules */
.mtm-home-news--content, .mtm-home-featured--story {
  text-align: left; }

.mtm-home-featured--single, .mtm-home-topic--single {
  margin-bottom: 2%; }

.mtm-home-sidebar--widget {
  display: none; }

/* Button Rules */
.mtm-home-buttons {
  margin-bottom: 1em; }
  .mtm-home-buttons p {
    display: inline-block; }

.button.mtm-button {
  display: inline-block;
  margin-bottom: .5em; }

.post-edit-link {
  font-size: .7em; }

/* List Rules */
.mtm-list--single {
  margin: 1em 0;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3); }

.mtm-list--image {
  width: 100%; }

.mtm-list--post-content {
  width: 100%; }

/* Tab Rules */
.mtm-tabs--title-container {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }

.mtm-tabs--title {
  cursor: pointer;
  padding: .2em 0; }
  .mtm-tabs--title.current {
    font-weight: bold; }

.mtm-tabs--title-accordion {
  border-top: 1px solid #eee; }

.mtm-tabs--content {
  display: none;
  padding: .5em 0;
  clear: both;
  overflow: auto; }
  .mtm-tabs--content.current {
    display: inherit; }

@media only screen and (min-width: 45em) {
  .mtm-tabs--title-container {
    display: block; }

  .mtm-tabs--title {
    padding: .3em 0;
    margin-right: 1em;
    display: inline-block; }

  .mtm-tabs--title-accordion {
    display: none; }

  .mtm-tabs--content {
    border-top: 1px solid #eee; }

  .mtm-module--cta-subheading {
    display: inline-block;
    margin-right: 1em;
    line-height: 1.4;
    margin-bottom: 0.5em; }

  .mtm-module--cta-buttons {
    display: inline-block; } }
/* MEDIA QUERIES */
@media only screen and (min-width: 30em) and (max-width: 45em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; } }
@media only screen and (min-width: 45em) and (max-width: 61em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 41.6666666667%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-list--post-content {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 58.3333333333%;
    padding: 0 2%; }
    .mtm-list--post-content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--post-content:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-home-news--content {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-home-news--content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-news--content:nth-of-type(2n+2) {
      padding-right: 0; }
    .mtm-home-news--content.full {
      display: inline-block;
      margin-right: -0.275em;
      vertical-align: top;
      width: 100%;
      padding: 0 2%;
      padding-left: 0;
      padding-right: 0; }
      .mtm-home-news--content.full .mtm-home-sidebar--widget {
        display: inline-block;
        margin-right: -0.275em;
        vertical-align: top;
        width: 33.3333333333%;
        padding: 0 2%;
        margin: 1.5em 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+1) {
          padding-left: 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+3) {
          padding-right: 0; }

  .mtm-home-featured--story {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 2%; }
    .mtm-home-featured--story:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-featured--story:nth-of-type(2n+2) {
      padding-right: 0; } }
@media only screen and (min-width: 45em) {
  .mtm-component .content--page {
    padding: 3rem; }

  .alignfull .content--inner, .alignwide .content--inner {
    padding-left: 3rem;
    padding-right: 3rem; }

  .mtm-home-sidebar--widget {
    display: block; }
    .mtm-home-sidebar--widget:first-of-type {
      margin-top: 1.5em; }

  .mtm_module_dual_content_area .mtm-module--content-primary, .mtm_module_dual_content_area .mtm-module--content-secondary {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 50%;
    padding: 0 5%; }
    .mtm_module_dual_content_area .mtm-module--content-primary:nth-of-type(2n+1), .mtm_module_dual_content_area .mtm-module--content-secondary:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm_module_dual_content_area .mtm-module--content-primary:nth-of-type(2n+2), .mtm_module_dual_content_area .mtm-module--content-secondary:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm_module_content_callout .mtm-module--content-primary {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 66.6666666667%;
    padding: 0 5%; }
    .mtm_module_content_callout .mtm-module--content-primary:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm_module_content_callout .mtm-module--content-primary:nth-of-type(2n+2) {
      padding-right: 0; }
  .mtm_module_content_callout .mtm-module--content-secondary {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 5%; }
    .mtm_module_content_callout .mtm-module--content-secondary:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm_module_content_callout .mtm-module--content-secondary:nth-of-type(2n+2) {
      padding-right: 0; } }
@media only screen and (min-width: 61em) {
  .mtm-list--image {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 25%;
    padding: 0 2%; }
    .mtm-list--image:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--image:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-list--post-content {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 75%;
    padding: 0 2%; }
    .mtm-list--post-content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-list--post-content:nth-of-type(2n+2) {
      padding-right: 0; }

  .mtm-home-news--content {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 33.3333333333%;
    padding: 0 2%; }
    .mtm-home-news--content:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-news--content:nth-of-type(2n+2) {
      padding-right: 0; }
    .mtm-home-news--content.full {
      display: inline-block;
      margin-right: -0.275em;
      vertical-align: top;
      width: 100%;
      padding: 0 2%;
      padding-left: 0;
      padding-right: 0; }
      .mtm-home-news--content.full .mtm-home-sidebar--widget {
        display: inline-block;
        margin-right: -0.275em;
        vertical-align: top;
        width: 33.3333333333%;
        padding: 0 2%;
        margin: 1.5em 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+1) {
          padding-left: 0; }
        .mtm-home-news--content.full .mtm-home-sidebar--widget:nth-of-type(3n+3) {
          padding-right: 0; }

  .mtm-home-featured--story {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 66.6666666667%;
    padding: 0 2%; }
    .mtm-home-featured--story:nth-of-type(2n+1) {
      padding-left: 0; }
    .mtm-home-featured--story:nth-of-type(2n+2) {
      padding-right: 0; } }
