/* General Panel Rules */

.mtm-component {
	margin-top: -2rem;
	padding-top: 2rem;
	position: relative;

	.content--page {
		padding: $sm-pad;
	}

	img {
		max-width: 100%;
		height: auto;
	}

}
	.mtm-component--main-full {
		overflow: auto;
		position: relative;
	}

	.mtm-component--home {
		background-size: cover;
		margin-top: 0;
		padding-top: 0;
		text-align: center;
	}

	.mtm-component--term-list {
		padding: 1em 0;
		margin: 0;

		li {
			list-style: none;
			display: inline-block;
		}

		a {
			padding-right: .5em;
		}
	}



/* Module Rules */

.mtm-module {
	padding-bottom: $sm-pad;
	padding-top: $sm-pad;
	overflow: auto; // to account for floats inside the modules
}
		.has-no-background-color .mtm-module-title {
			margin-top: 1em;
		}

		.mtm-module--hero-title {
			margin: .75em auto;
		}

		.mtm-module--hero-subtitle {
			margin-bottom: .75em;
		}

// Hero Rules
	.mtm-hero-image, .wp-block-cover  {
		padding: 2em;
		background-size:cover;
		background-position: center center;
		text-align: center;
	}

		.mtm-hero-image-title, .mtm-hero-image-subtitle p, .mtm-module--slider-title, .mtm-module--slider-subtitle p {
			color: #fff;
		}

	.mtm-module--slider-slide {
		background-size:cover;
		background-position: center center;
		text-align: center;

		& > p, a > p { // gutenberg issues
			display: none;
		}
	}
		.mtm-module--slider-link {
			display: block;
			padding: 2em;
		}

		.mtm-module--slider-content {
			padding: 0 2em;
		}

		.flex-control-nav {
			z-index: 2;
		}
// Logo Rules
.mtm_module_logo_showcase {

}
	.mtm-logo-grid {
		vertical-align: middle;
		text-align: center;
	}

	// Single Content
		.mtm_module_single_content_area {
			.mtm-module--content-heading, .mtm-module--content-primary {
				margin-left: auto;
				margin-right: auto;
				max-width: $max;
			}
		}

// Content Callout
	.mtm-module--content-secondary-image {
		padding: $sm-pad;

		.mtm-module--content-secondary-wrapper {
			background-color: rgba(0,0,0,.5);
			color: #fff;
			padding: $sm-pad;
		}
	}

	// CTA
		.mtm_module_call_to_action {
			padding: $sm-pad;
			background: #eee;
			overflow: auto;

			.alignright, .alignleft, .aligncenter {
				margin-bottom: 0;
			}
		}

// Gallery
	.mtm-module--gallery {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 1em 0;
		padding: 0;

		& > p, a > p { // gutenberg issues
			display: none;
		}

		// grid for supported browsers
		@supports(display: grid) {
			display: grid;
			grid-auto-rows: minmax(20vh, $gallery-height);
			grid-gap: 0.2em;
			grid-template-columns: repeat(auto-fill, minmax($gallery-width, 1fr));
		}

		a {
			// flex fallback
			flex: 1 0 auto;
			min-height: $gallery-height;
			min-width: $gallery-width;
			margin: ($gallery-gutter/2);

			@supports(display: grid) {
				margin: 0;
			}
		}

	}
		.mtm-module--gallery-image {
			height: 100%;
			line-height: 1;
			margin: 0;
			overflow: hidden;
			position: relative;
			width: 100%;

			figure {
				background-size: cover;
				background-position: center center;
				height: 100%;
				-webkit-transition:all .5s;
				transition:all .5s;
				width: 100%;

				&:hover, &:focus {
					transform: scale(1.2);
				}
			}
		}

		.mtm-module--gallery-caption {
			background-color: rgba(0,0,0,.3);
			bottom: 0;
			color: #fff;
			margin: 0;
			padding: .25em;
			position: absolute;
			width: 100%;
		}


/* Home Rules */

.mtm-home-news--content, .mtm-home-featured--story {
	text-align:left;
}

.mtm-home-featured--single, .mtm-home-topic--single {
	margin-bottom: 2%;
}

.mtm-home-sidebar--widget {
	display: none;
}

/* Button Rules */
.mtm-home-buttons {
	margin-bottom: 1em;

	&.alignleft {
		margin-left: -.5em;
	}

	&.alignright {
		margin-right: -.5em;
	}
}

.button.mtm-button {
	display:inline-block;
	margin: .5em;
}

.post-edit-link {
	font-size: .7em;
}

/* List Rules */

.mtm-list--single {
	margin: 1em 0;
}

	.mtm-list--image {
		width: 100%;
	}

	.mtm-list--post-content {
		width: 100%;
}


/* Tab Rules */

.mtm-tabs--wrapper {
	border-bottom: 1px solid #eee;
	clear: both;
	margin: 1em 0;

	.mtm-tabs--title-container {
		display: none;
		list-style: none; // for old tabs
		margin: 0;
		padding: 0;
	}
		button.mtm-tabs--title, .mtm-tabs--title {
			background-color: transparent;
			border: 0;
			color: #aaa;
			cursor: pointer; // for old tabs
			padding: .2em 0;

			&:hover, &:focus {
				background-color: transparent;
				color: #000;
			}

			&.current {
				color: #000;
				font-weight: bold;
			}
		}

		button.mtm-tabs--title-accordion, .mtm-tabs--title-accordion {
			background-color: transparent;
			border: 0;
			border-top: 1px solid #eee;
			color: #aaa;
			display: block;
			width: 100%;

			&:hover, &:focus {
				background-color: transparent;
				color: #000;
			}
		}

	.mtm-tabs--content {
		clear: both;
		display: none;
		overflow: auto;
		padding: .5em 0;

		&.current {
			display:inherit;
		}
	}
}




/* MEDIA QUERIES */

@media only screen and ( min-width: $sm-bp ) and ( max-width: $med-bp ) {

	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 6, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
	}


}

@media only screen and ( min-width: $med-bp ) and ( max-width: $lg-bp ) {

	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 5, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
	}

	.mtm-list--post-content {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 7, $padtop: 0, $padside: 2% );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
	}

	.mtm-home-news--content {
		@include pinkgrid( $colspan: 6 );
		@include pinkrow( $rowitems: 2 );

		&.full {
			@include pinkgrid( $colspan: 12 );
			@include pinkrow( $rowitems: 1 );

			.mtm-home-sidebar--widget {
				@include pinkgrid( $colspan: 4 );
				@include pinkrow( $rowitems: 3 );
				margin: 1.5em 0;
			}
		}
	}

	.mtm-home-featured--story {
		@include pinkgrid( $colspan: 6 );
		@include pinkrow( $rowitems: 2 );
	}

}

// SMALL
@media only screen and (min-width: $sm-bp) {

}

// MEDIUM
@media only screen and ( min-width: $med-bp ) {
	.mtm-component .content--page {
		padding: $big-pad;
	}

	.mtm-home-sidebar--widget {
		display: block;

		&:first-of-type {
			margin-top: 1.5em;
		}
	}

	.mtm_module_dual_content_area {
		.mtm-module--content-primary, .mtm-module--content-secondary {
			@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 6, $padtop: 0, $padside: 5% );
			@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
		}
	}

	.mtm_module_content_callout {
		.mtm-module--content-primary {
			@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 8, $padtop: 0, $padside: 5% );
			@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
		}

		.mtm-module--content-secondary {
			@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 4, $padtop: 0, $padside: 5% );
			@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
		}
	}

	.mtm-tabs--wrapper {
		border-bottom-width: 0;

		.mtm-tabs--title-container {
			display: block;
		}
			button.mtm-tabs--title, .mtm-tabs--title {
				padding: .5em 0;
				margin-right:1em;
				display:inline-block;
			}
			button.mtm-tabs--title-accordion, .mtm-tabs--title-accordion {
				display: none;
			}
			.mtm-tabs--content {
				border-top: 1px solid #eee;
			}
	}

	.mtm_module_call_to_action {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.mtm-module--cta-subheading{
		display: inline-block;
		margin-right: 1em;
		line-height: 1.4;
		margin-bottom: 0.5em;
	}

	.mtm-module--cta-buttons {
		display: inline-block;
	}
}

// LARGE
@media only screen and ( min-width: $lg-bp ) {

	.mtm-list--image {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 3, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
	}

	.mtm-list--post-content {
		@include pinkgrid( $align: top, $totalcols: $defaultcols, $colspan: 9, $padtop: 0, $padside: $defaultpad );
		@include pinkrow( $rowitems: 2, $before: 0, $after: 0 )
	}

	.mtm-home-news--content {
		@include pinkgrid( $colspan: 4 );
		@include pinkrow( $rowitems: 2 );

		&.full {
			@include pinkgrid( $colspan: 12 );
			@include pinkrow( $rowitems: 1 );

			.mtm-home-sidebar--widget {
				@include pinkgrid( $colspan: 4 );
				@include pinkrow( $rowitems: 3 );
				margin: 1.5em 0;
			}
		}
	}

	.mtm-home-featured--story {
		@include pinkgrid( $colspan: 8 );
		@include pinkrow( $rowitems: 2 );
	}
}
