.editor-styles-wrapper {
  .acf-input {
    ul {
      margin: inherit;
      padding: inherit;
    }

    .acf-radio-list {
      li {
        line-height: 33px;
        label {
          padding: .5em;
          border: 1px solid #ddd;
          visibility: hidden;

          &:hover, &:focus {
            background-color: #ddd;
          }

          &:first-of-type {
            visibility: visible;
          }
        }

        .selected {
          background-color: #ddd;
        }

        input[type="radio"] {
          display: inline-block;
          visibility: visible;
        }

        input[type="text"] {
          display: inline-block !important;
        }
      }
    }

  .iris-picker {
    	height: auto !important;
    	overflow: hidden;
    	padding: 20px 20px 10px !important;
    }

    .iris-border .iris-palette-container {
    	bottom: unset;
    	left: unset;
    	overflow: hidden;
    	position: relative;
    	top: unset;
    }

    .iris-picker .iris-palette {
    	height: 40px !important;
    	margin-bottom: 5%;
    	margin-left: 0 !important;
    	margin-right: 10px;
    	width: calc(25% - 10px) !important;
    }

    .iris-picker .iris-palette:nth-child(4n) {
    	margin-right: 0;
    }


    .iris-picker-inner {
    	display: none;
    }
  }

  figure {
    margin: 0;
  }
}
