.editor-styles-wrapper .acf-input ul {
  margin: inherit;
  padding: inherit; }
.editor-styles-wrapper .acf-input .acf-radio-list li {
  line-height: 33px; }
  .editor-styles-wrapper .acf-input .acf-radio-list li label {
    padding: .5em;
    border: 1px solid #ddd;
    visibility: hidden; }
    .editor-styles-wrapper .acf-input .acf-radio-list li label:hover, .editor-styles-wrapper .acf-input .acf-radio-list li label:focus {
      background-color: #ddd; }
    .editor-styles-wrapper .acf-input .acf-radio-list li label:first-of-type {
      visibility: visible; }
  .editor-styles-wrapper .acf-input .acf-radio-list li .selected {
    background-color: #ddd; }
  .editor-styles-wrapper .acf-input .acf-radio-list li input[type="radio"] {
    display: inline-block;
    visibility: visible; }
  .editor-styles-wrapper .acf-input .acf-radio-list li input[type="text"] {
    display: inline-block !important; }
.editor-styles-wrapper .acf-input .mtm-tabs--content.current {
  display: none; }
  .editor-styles-wrapper .acf-input .mtm-tabs--content.current#tab-1 {
    display: inherit; }
.editor-styles-wrapper .acf-input .iris-picker {
  height: auto !important;
  overflow: hidden;
  padding: 20px 20px 10px !important; }
.editor-styles-wrapper .acf-input .iris-border .iris-palette-container {
  bottom: unset;
  left: unset;
  overflow: hidden;
  position: relative;
  top: unset; }
.editor-styles-wrapper .acf-input .iris-picker .iris-palette {
  height: 40px !important;
  margin-bottom: 5%;
  margin-left: 0 !important;
  margin-right: 10px;
  width: calc(25% - 10px) !important; }
.editor-styles-wrapper .acf-input .iris-picker .iris-palette:nth-child(4n) {
  margin-right: 0; }
.editor-styles-wrapper .acf-input .iris-picker-inner {
  display: none; }
.editor-styles-wrapper figure {
  margin: 0; }
.editor-styles-wrapper ul.slides {
  list-style: none;
  margin-left: auto;
  padding: 0; }
  .editor-styles-wrapper ul.slides li {
    display: none; }
    .editor-styles-wrapper ul.slides li:first-of-type {
      display: block; }
